<!--Data Entry form -->

<div style="margin: auto;">
  <form [formGroup]="dataEntryForm" novalidate>

    <div id="title">
      Data Entry Form
    </div>
    <div id="dropdown">
      <label>Learning Events</label>
      <mat-select placeholder="Learning Events" (selectionChange)="learningValueChange($event.value)"
        formControlName="learningEvents">
        <mat-option *ngFor="let learningEvent of options" [value]="learningEvent">
          {{ learningEvent }}
        </mat-option>
      </mat-select>


    </div>


    <div id="activities">
      <label for="">Learning Activities</label>

      <mat-select formControlName="learningActivities" placeholder="Learning Activities">

        <mat-option *ngFor="let LearningAct of dropdownList" [value]="LearningAct">
          {{ LearningAct}}
        </mat-option>
      </mat-select>





    </div>

    <div formArrayName="indicator">
      <div *ngFor="let indicator of indicatorControls; let i = index" [formGroupName]="i">

        <div id="indicators">
          <label class="indicatorName">Indicators</label>
          <input type="text" formControlName="indicatorName" required>
        </div>


        <div class="formfield">
          <label class="metrics">Metrics</label>
          <textarea class="text" cols="30" rows="10" type="text" formControlName="metrics" required
            placeholder="Metrics must be comma seperated"></textarea>
        </div>

      </div>
      <!-- <div class="btn">
        <button id="btn1" mat-raised-button color="primary" (click)="addIndicator()"
          [disabled]="dataEntryForm.pristine || dataEntryForm.invalid">Add Indicator</button>
        <button id="btn2" mat-raised-button color="warn" (click)="removeIndicator(i)"
          [disabled]="dataEntryForm.pristine || dataEntryForm.invalid"> Delete</button>
      </div> -->


    </div>
    <div id="savebtn">
      <button type="submit" mat-raised-button color='primary'
        (click)='addData(learningEvents,learningActivities,indicator,metrics)'
        [disabled]="dataEntryForm.pristine || dataEntryForm.invalid">Save data</button>
    </div>

  </form>
  <div>
    <label for="file">Choose File</label>
    <input (change)="onFileSelected($event.target.files)" type="file" id="file">

  </div>
  <div>
    <button [disabled]="!file" (click)="upload()">
      Upload
    </button>
  </div>


</div>
