<div class="header" id="header">
  <mat-toolbar color="primary"
    ><span class="step0">
      <a routerLink="display/data"
        ><img
          style="height: 58px; padding-top: 8px"
          src="assets/images/logo.png" /></a
    ></span>
    <span class="example-spacer"></span>

    <!-- <a href="#" onclick="myTour()">Start Tour</a> -->
    <button class="stepReferences buttonHead"  (click)='references()'><img style="width: 14px;" src="assets/images/ref.png" />&nbsp; References</button> 
    <!-- <a mat-button class="stepReferences" (click)='admin()'>Login</a> -->
    <!-- <a mat-button class="stepReferences" href="https://atezaz.github.io/references.html" target="_blank">References</a> -->
    <button class="stepStartTour buttonHead" id="myTourBtn">
      <i class="fa-solid fa-flag"></i>&nbsp; Start Tour
    </button>
  </mat-toolbar>
</div>


