.example-spacer {
    flex: 1 1 auto;
  }
  

.buttonHead {
  padding: 13px 26px;
  text-align: center;
  transition: 1s;
  background-size: 1051% auto;
  color: white;
  border-radius: 4px;
  display: inline-block;
  border: 0px;
  background-image: linear-gradient(45deg, #3f51b5 10%, #a1bcde 51%, #3f51b5 100%);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 15px;
}

.buttonHead:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.buttonHead:active {
  transform: scale(0.80);
}