/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.multiselect-dropdown .dropdown-btn {
  font-size: 14px !important;
  color: rgb(150, 139, 139) !important;
  padding: 4px 0px 5px 2px !important;

}


::ng-deep .mat-form-field-underline {
  display: none;
}

.dropdown-list {
  position: absolute;
  padding-top: 0px !important;
  width: 126% !important;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 1px !important;
  box-shadow: 0 1px 5px #959595;
  font-size: 13px !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  line-height: 16px !important;
  width: 26px !important;
  height: 32px !important;
  width: 13% !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
  border-width: 6px 6px 0px !important;
  color: rgba(0,0,0,.54) !important;
}

.mat-input-element {
  font-size: 14px !important;
  font-weight: 550 !important;
  border: 1px solid rgb(177, 170, 170) !important;
  border-radius: 4px !important;
  margin-left: 18px !important;
  vertical-align: 0 !important;
  padding: 8px 2px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
.mat-select {
  padding: 8px 2px !important;
  border: 1px solid rgb(177, 170, 170) !important;

  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.main-content {
  border: 1px solid rgba(220, 220, 220, 0.5);
  border-radius: 3px;
  margin: 5px 0px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-content:nth-of-type(-n + 2) {
  margin-top: 100px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.btn-top {
  background-color: #3f51b5;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.highcharts-subtitle {
  font-size: 10px;
}


.buttonOpenLAIR {
  margin: 10px;
  padding: 12px 22px;
  text-align: center;
  transition: 1s;
  background-size: 530% auto;
  color: white;
  border-radius: 4px;
  display: inline-block;
  border: 0px;
  font-weight: 500;
  box-shadow: 2px 4px 5px 0px #89b2e4;
  background-image: linear-gradient(45deg, #3f51b5 10%, #b4cae6  51%, #3f51b5  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 15px;
}

.buttonOpenLAIR:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.buttonOpenLAIR:active {
  transform: scale(.80);
}


.buttonRed {
  
  padding: 7px 8px;
  text-align: center;
  transition: 1s;
  background-size: 530% auto;
  color: white;
  border-radius: 4px;
  display: inline-block;
  border: 0px;
  font-weight: 500;
  box-shadow: 2px 4px 5px 0px #ead8d8;
  background-image: linear-gradient(45deg, #8e1e22 10%, #edcfcf  51%, #8e1e22 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 13px;
}

.buttonRed:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.buttonRed:active {
  transform: scale(.80);
}