.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main-content {
  grid-column: span 6;
}

::ng-deep .mat-form-field-infix {
  width: 250px !important;
}

::ng-deep .mat-form-field {
  position: sticky !important;
  z-index: 100;
  top: 0;
}

.mat-elevation-z5 {
  position: relative;
}

.sticky {
  top: 0px;
}

@media screen and (max-width: 768px) {
  .main-content {
    grid-column: span 12;
  }
}
@media screen and (max-width: 480px) {
  .main-content {
    grid-column: span 12;
  }
}

.downloadCharts {
  margin: 1rem;
  float: right;
  z-index: 100;
  position: fixed;
  right: 1%;
}

.backBtn {
  float: right;
  margin: 1rem;
  z-index: 100;
  position: fixed;
  right: 8%;
}

.mat-elevation-z5 {
  position: relative;
}

.sticky {
  position: fixed;
  top: 0px;
}

.buttons {
  height: 70px;
  background-color: #fff;
  border: 2px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
  right: 0;
  float: right;
  z-index: 99;
  width: 100%;
}
